<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.angrybeanie.zooborns" android:versionCode="14"
  android:versionName="1.4.4">
  <application android:icon="@drawable/icon" android:label="@string/app_name">
    <activity android:name="org.angrybeanie.zooborns.ZooBorns" android:label="@string/app_name"
      android:configChanges="keyboardHidden|orientation">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name="org.angrybeanie.zooborns.FullscreenImage"
      android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
      android:configChanges="keyboardHidden|orientation">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <receiver android:name="org.angrybeanie.zooborns.BootReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
    
    <service android:name="org.angrybeanie.zooborns.feed.UpdateService" />
    
    <uses-library android:name="android.test.runner" />
  </application>

<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="13"></uses-sdk>

<uses-feature android:name="android.hardware.touchscreen" android:required="false" />

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<uses-permission android:name="android.permission.SET_WALLPAPER"></uses-permission>
</manifest> 
